/* 当排序时，IE 存在布局问题（查看 #5413） */
.group {
  zoom: 1;
}

body {
  background: #eae9e9;
  margin: 0;
}

.ui-accordion .ui-accordion-content {
  padding: 6px;
  display: flex;
}
.ui-state-active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}
.ui-state-active .ui-icon {
  background-image: url(https://cdn.bootcss.com/jqueryui/1.12.1/images/ui-icons_444444_256x240.png);
}

* {
  box-sizing: border-box;
}

.moveButton {
  background-color: #41232300;
  z-index: 515;
  position: relative;
  padding: 4px 11px;
  float: right;
}

.moveButton > i {
  font-size: 23px;
  color: #999696;
}

#todoTitle {
  margin-left: auto;
  width: 60%;
  height: 24px;
  margin-top: 12px;
  text-indent: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24),
    0 1px 6px rgba(0, 0, 0, 0.45) inset;
  border: none;
}

textarea {
  flex-grow: 1;
  margin: 0px;
  overflow: auto;
  padding: 0.5rem;
  border: none;
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}
::-webkit-scrollbar-corner {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

.btnGroup {
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 35%;
  max-width: 500px;
  margin: auto;
  padding: 0 5px;
}

.btnGroup > button {
  background-color: #ecf5ff;
  border: solid 1px #b3d8ff;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  margin: 0.1rem 0.2rem;
  border-radius: 6px;
  color: #409eff;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  color: #606266;
}

.header {
  background-color: rgba(47, 47, 47, 0.98);
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.header-top {
  min-width: 40%;
  max-width: 500px;
  margin: auto;
  position: relative;
  display: flex;
  padding: 0 12px;
}

.label {
  float: left;
  width: 100px;
  line-height: 50px;
  color: #ddd;
  font-size: 24px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus {
  outline-width: 0;
}
